<% if @created_events.any? %>
	
<div class="d-flex">
  <div class="card col-sm-5 m-3">
    <h1 class="text-center">Created events: </h1>
      <%= render @created_events %>
  </div>


</div>

<% end%>
